*{
    margin: 0px;
    padding: 0px;
}
.out{
    border: solid 1px;
    height: 170px;
    display: flex;
}
#box1,#box2,#box3{
    border: solid 1px;
    height: 170px;
}
#box1{
    width: 170px;
}
#box2{
    width: 1020px;
    text-align: center;
    background-color: lightskyblue;
}
#box3{
    width: 170px;
}
#clgname{
    font-size: 35px;
    color: brown;
}
#text1{
    color: black;
}
#text2{
color: peru;
}
#textscroll{
    font-size: 22px;
    color: black;
}
#navbox{
    border: solid 1px;
    height: 50px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 190px;
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: cyan;
    border-radius: 10px;
    margin-right: 1px;position: relative;
}
ul{
    list-style: none;
}
ul li a{
    color: black;
    font-size: 23px;
    text-decoration: none;

}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
ul li:hover{
    background-color: slategray;
}
#clg{
    border: solid;
    height: 300px;
    
}
